@font-face {
	font-family: "Boots And Spurs";
	src: url("../Fonts/BootsAndSpurs.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2)
		format(woff2);
}
h1,
h2 {
	font-family: "Boots And Spurs", "Roboto";
	max-width: 500px;
}
h1 {
	color: black;
}
body p {
	font-family: "Roboto", "times new roman";
	font-size: 1rem;
	color: black;
}


header {
	background-image: url("../Guitars/home-header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 700px;
	max-width: 1000px;
}
header section div p{
	font-family: "Boots And Spurs", "Roboto";
	font-size: 1rem;
	color: #ffff;
}
nav li {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

body {
	background-color: lightgray;
}
.white {
	color: #fff;
	text-decoration: none;
}
.red {
	background-color: rgb(151, 7, 7);
	color: #fff;
	text-decoration: none;
	text-decoration-line: none;
	border-radius: 0% 20% 0% 20%;
	padding: 10px 80px 10px 80px;
	margin: 5px 0px 0px 0px;
	display: inline-block;
}
.green {
	background-color: green;
	color: #fff;
	text-decoration-line: none;
}
section.BackgroundGrey {
	background-color: lightgray;
}
.green {
	text-decoration-line: underline;
	display: inline-block;
	text-decoration: none;
	text-decoration-line: none;
	border-radius: 0% 20% 0% 20%;
	padding: 10px 80px 10px 80px;
	margin: 5px 0px 0px 0px;
}
footer {
	background-color: black;
	color: white;
	text-align: center;
}
h1,
h2 {
	text-align: center;
}
img {
	width: 250px;
	height: 250px;
}
div img {
	max-width: 1000px;
	max-height: 700px;
}
.rounded-corners {
	border-radius: 10%;
	max-width: 500px;
	max-height: 400px;
}
.rounded-image {
	border-radius: 50%;
}
main h1 {
	text-align: left;
	font-size: 20px;
}

header li {
	display: inline-block;
	margin: 10px;
	font-size: 1rem;
	text-decoration: none;
}
header li:hover {
	text-decoration-line: underline;
}

.current {
	font-weight: bold;
	color: white;
	font-size: 20px;

}

/*Layout section */

/* HEADER */

/*Header Container*/
.container-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: black;
	padding: 2%;
	width: 96vw;
}
}

/* The menu layout */

.header-layout {
	flex: 1;		
}
/* The Guitar Kingz layout */
.paragraph-box{
	flex: 1;

}
/* Header and button */

.second-container-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.second-child-header {
	position: absolute;
	bottom: 50%;
}
/* BODY LAYOUT */
.container-body {
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: solid;
	border-color: red;
}

}
/* Contact Page */
.Button_red {
	background-color: red;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5rem;
	color: white;
	content: "";
	display: block;
	margin-left: 2%;
	margin-top: 5%;
}
.information {
	position: relative;
	display: inline;
}
}
fieldset {
	background-repeat: no-repeat;
	max-width: 800px;
}
