@font-face {
	font-family: "Boots And Spurs";
	src: url("../Fonts/BootsAndSpurs.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2)
		format(woff2);
}
h1,
h2 {
	font-family: "Boots And Spurs", "Roboto";
	max-width: 500px;
}
h1 {
	color: black;
}
body p {
	font-family: "Roboto", "times new roman";
	font-size: 1rem;
	color: black;
}

header {
	background-image: url("../Guitars/home-header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: center;
	min-height: 600px;
	max-width: 100%;
}
header section div p {
	font-family: "Boots And Spurs", "Roboto";
	font-size: 1rem;
	color: #ffff;
}
nav li {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

body {
	background-color: lightgray;
}
.white {
	color: #fff;
	text-decoration: none;
}
.red {
	background-color: rgb(151, 7, 7);
	color: #fff;
	text-decoration: none;
	text-decoration-line: none;
	border-radius: 0% 20% 0% 20%;
	padding: 10px 80px 10px 80px;
	margin: 5px 0px 0px 0px;
	display: inline-block;
}
.green {
	background-color: green;
	color: #fff;
	text-decoration-line: none;
}
section.BackgroundGrey {
	background-color: lightgray;
}
.green {
	text-decoration-line: underline;
	display: inline-block;
	text-decoration: none;
	text-decoration-line: none;
	border-radius: 0% 20% 0% 20%;
	padding: 10px 80px 10px 80px;
	margin: 5px 0px 0px 0px;
}
footer {
	background-color: black;
	color: white;
	text-align: center;
}
h1,
h2 {
	text-align: center;
	margin: 0 auto;
}
img {
	width: 250px;
	height: 250px;
}
div img {
	max-width: 1000px;
	max-height: 700px;
}
.rounded-corners {
	border-radius: 10%;
	max-width: 500px;
	max-height: 400px;
}
.rounded-image {
	border-radius: 50%;
}
main h1 {
	text-align: left;
	font-size: 20px;
}

header li {
	display: inline-block;
	margin: 10px;
	font-size: 1rem;
	text-decoration: none;
}
header li:hover {
	text-decoration-line: underline;
}

.current {
	font-weight: bold;
	color: white;
	font-size: 20px;
}

/*Layout section */

/* HEADER */

/*Header Container*/
.container-header {
	display: flex;
	flex-direction: row;
	background-color: black;
	padding: 2%;
	width: 96vw;
}

/* The menu layout */

.header-layout {
	flex: 1;
	align-self: flex-end;
}
/* The Guitar Kingz layout */
.paragraph-box {
	flex: 1;
}
/* Header and button */

.second-container-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.second-child-header {
	position: absolute;
	text-align: center;
	bottom: 50%;
}
/* BODY LAYOUT */
.container-body {
	max-width: 1000px;
	margin: 50px auto;
	display: flex;
	align-items: center;
}

.container-body > * {
	flex: 1;
	text-align: center;
}

/* LAYOUT FOR REVIEWS */

.BackgroundGrey > div {
	max-width: 1000px;
	margin: 50px auto;
	display: flex;
	flex-direction: row-reverse;
	border: solid;
}

.BackgroundGrey div > img {
	width: 80px;
	height: 80px;
	display: flex;
	margin-top: 15%;
}

.first-review {
	flex: 1;
	content: "- Sally Oldfield";
}

.second-review {
	flex: 1;
}

/* Contact Page */
.Button_red {
	background-color: red;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5rem;
	color: white;
	content: "";
	display: block;
	margin-left: 2%;
	margin-top: 5%;
}
.information {
	position: relative;
	display: inline;
}
fieldset {
	background-repeat: no-repeat;
	max-width: 800px;
}

/* GUITAR SECTION */

h2 {
	color: black;
	display: grid;
}
footer {
	background-color: white;

	/* CSS GRIDS*/
}
.grid-container {
	border: solid red;
}

.grid-container {
	display: grid;
	flex-wrap: wrap;
	grid-gap: 3em;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: "main main main main";
	text-align: center;
}

.first-image {
	grid-column: 1/5;
}
.first-image-1 {
	grid-row: 1/5;
}
.first-image-2 {
	grid-row: 1/5;
}
.first-image-3 {
	grid-row: 1/5;
}
.first-image-4 {
	grid-row: 1/5;
}
